body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

.hero-header, .info, .quote, .action, .footer {
    padding: 0 200px;
}

.hero-header, footer {
    background-color: #1f2937;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}

.hero {
    padding-bottom: 120px;
}

.nav, .hero-text p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-text h1, .hero-text p {
    margin: 0;
    padding-right: 32px;
    margin-bottom: 8px;
}

.hero-text h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero button {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 4px;
    padding: 8px 32px;
    font-weight: bold;
    margin-top: 8px;
    font-size: 20px;
}

.hero-image {
    background-color: rgb(110,116,124);
    color: #E5E7EB;
    text-align: center;
    align-content: center;
}

.top-bar, .nav, .hero {
    display: flex;
    justify-content: space-between;
}

.top-bar {
    padding-top: 24px;
    margin-bottom: 120px;
}

.nav {
    gap: 32px;
}

.hero-text, .hero-image {
    width: 50%;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    margin: 48px 0;
}

.cards {
    display: flex;
    justify-content: center;
    color: #797b7e;
    font-size: 18px;
    gap: 32px;
    margin-bottom: 100px;
}

.card {
    width: 150px;
    text-align: center;
}

.card-image {
    border: 4px solid #3882f6;
    height: 150px;
    border-radius: 16px;
    margin-bottom: 8px;
}

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    padding: 100px 300px;
}

blockquote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}

.quote p {
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
    font-size: 24px;
    font-weight: 900;
}

.action {
    padding-top: 100px;
    padding-bottom: 100px;
}

.container {
    background-color: #3882f6;
    border-radius: 16px;
    display: flex;
    padding: 50px 100px;
    justify-content: space-between;
}

.action-header {
    color: #f9faf8;
    margin: 0;
}

.action-text {
    color: #E5E7EB;
    margin: 0;
}

.action-button {
    background-color: #3882f6;
    color: #f9faf8;
    border: 2px solid #f9faf8;
    border-radius: 8px;
    padding: 8px 32px;
    font-weight: bold;
    font-size: 16px;
}

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    color: #e5e7eb;
    padding-top: 50px;
    padding-bottom: 50px;
}